<mat-toolbar style="display: flex;" color="primary">
  <button (click)="goBack()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  &nbsp; &nbsp; <img src="assets/images/newsicon.png" alt="" />&nbsp; News
</mat-toolbar>

<p *ngIf="flag == 1">Weather in {{ city }}</p>
<p>{{ temperature }}</p>

<i id="wicon" style="display: none; font-size: 3em; " class=""></i>{{ wCond }}

<!-- <youtube-player videoId="PRQCAL_RMVo" /> -->
<!-- <youtube-player videoId="dQw4w9WgXcQ" suggestedQuality="highres"> -->
<!-- </youtube-player> -->
