<div>
  <mat-toolbar style="display: flex;">
    <button (click)="goBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon></button
    >&nbsp; &nbsp;
    <img
      src="/assets/images/Youtube.webp"
      alt=""
      style="width: 2em; height: auto;"
    />
    <span class="lead" style="font-size: 1.2em;">YouTube</span>
  </mat-toolbar>
  <hr />
  <br />
  <span style="font-size: small; color: rgb(82, 76, 76); padding-bottom: 5px;">
    Search here: &nbsp;&nbsp;
  </span>
  <mat-form-field (keyup.enter)="send_query()" style="width: 20em !important ;">
    <input matInput [(ngModel)]="query" id="searchKey" />
  </mat-form-field>
  <br />
  <button id="voiceButton" mat-fab color="warn">
    <mat-icon>mic</mat-icon>
  </button>
  <pre></pre>
  <button (click)="send_query()" id="searchbutton" mat-fab color="warn">
    <mat-icon>search</mat-icon>
  </button>
</div>
<br /><br /><br />
<div
  class="lead"
  style="
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    padding: 1em;
  "
>
  <mat-spinner
    *ngIf="flag1 != 1"
    style="margin: 0 auto;"
    color="warn"
  ></mat-spinner>

  <div
    *ngIf="flag2 == 1"
    style="
      margin: 0 auto;
      max-width: 50em;
      min-width: 12em;
      text-overflow: ellipsis;
      overflow: hidden;
    "
  >
    <div *ngFor="let item of result[0]; index as i" class="list-group">
      <a
        [href]="result[1][i]"
        class="list-group-item list-group-item-action"
        style="text-overflow: ellipsis;"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1" style="text-align: left;">{{ result[0][i] }}</h5>
          <small>{{ result[2][i] }}</small>
        </div>
        <p class="mb-1" style="text-align: left; text-overflow: ellipsis;">
          {{ result[3][i] }}
        </p>
      </a>
    </div>
  </div>
</div>

<!-- <mat-card class="example-card">
  <img
    class="image1"
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original. The Shiba Inu is the
      smallest of the six original. The Shiba Inu is the smallest of the six
      original. The Shiba Inu is the smallest of the six original. The Shiba Inu
      is the smallest of the six original. The Shiba Inu is the smallest of the
      six original.
    </p>
  </mat-card-content>
</mat-card> -->

<!-- 
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->
