/* .example-card {
    max-width: 400px;
  } */
.gmail {
  height: 10em;
  width: auto;
  margin-left: 5em;
  border-radius: 2em;
}

.gsearch {
  height: 10em;
  width: auto;
  margin-left: 5em;
  border-radius: 2em;
}
.news {
  height: 10em;
  width: auto;
  margin-left: 5em;
  border-radius: 2em;
}
.gmailtitle {
  margin-left: 2em;
}
.wikipedia {
  height: 10em;
  width: auto;
  margin-left: 4em;
  border-radius: 2em;
}
.gtranslate {
  height: 10em;
  width: auto;
  margin-left: 5em;
  border-radius: 2em;
}
.amazon {
  height: 10em;
  width: auto;
  transform: scale(1.1);
  margin-left: 5em;
  border-radius: 2em;
}

.example-header-imagem {
  background-image: url("https://i.postimg.cc/W4z1NpL1/one.png");
  background-size: 2.5em;
  /* background-repeat: no-repeat; */
  background-position: left;
}
.example-header-images {
  background-image: url("https://i.postimg.cc/mrn2txBN/two.png");
  /* background-size: cover; */
  background-position: left;
  background-size: 2.5em;
  background-repeat: no-repeat;
}
.example-header-imageb {
  background-image: url("https://i.postimg.cc/pTnVj0dN/three.png");
  /* background-size: cover; */
  background-position: left;
  background-size: 2.5em;
  background-repeat: no-repeat;
}
.example-header-imagew {
  background-image: url("https://i.postimg.cc/prbWJD9m/four.png");
  /* background-size: cover; */
  background-position: left;
  background-size: 2.5em;
  background-repeat: no-repeat;
}
.example-header-imaget {
  background-image: url("https://i.postimg.cc/Rh7MsNfX/five.png");
  /* background-size: cover; */
  background-position: left;
  background-size: 2.5em;
  background-repeat: no-repeat;
}
.example-header-imagea {
  background-image: url("https://i.postimg.cc/44VNNFMV/six.png");
  /* background-size: cover; */
  background-position: left;
  background-size: 2.5em;
  background-repeat: no-repeat;
}
mat-card {
  width: 20em;
  height: 20em;
  margin-top: 2em;
  margin-left: 5em;
  float: left;
  transition: 0.5s;
}
mat-card:hover {
  transform: scale(1.07);
  cursor: pointer;
}

hr {
  margin-top: 0.01em;
  color: cadetblue;
}
.amazon1 {
  margin-bottom: 2em;
}
