<hr />
<div class="cards">
  <mat-card
    [routerLink]="['/google-speech']"
    routerLinkActive="router-link-active"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-images"></div>
      <div class="gsearchtitle">
        <mat-card-title class="lead"><b>GOOGLE SEARCH</b></mat-card-title>
        <mat-card-subtitle>Search Service</mat-card-subtitle>
      </div>
    </mat-card-header>
    <img
      class="gsearch"
      mat-card-image
      src="/assets/images/google search 4.png"
      alt=""
    />
    <mat-card-content>
      <p>
        Google Search, is a web search engine developed by Google.
      </p>
    </mat-card-content>
  </mat-card>

  <a href="/news" style="margin: 0px auto;">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-imageb"></div>
        <div class="gsearchtitle">
          <mat-card-title class="lead"> <b>NEWS</b></mat-card-title>
          <mat-card-subtitle>News Service</mat-card-subtitle>
        </div>
      </mat-card-header>
      <img class="news" mat-card-image src="/assets/images/news.png" alt="" />
      <mat-card-content>
        <p>
          Common topics for news reports are included in this forum.
        </p>
      </mat-card-content>
    </mat-card>
  </a>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-imagem"></div>
      <div class="gmailtitle">
        <mat-card-title class="lead"> <b>GMAIL </b></mat-card-title>
        <mat-card-subtitle>Mail Service</mat-card-subtitle>
      </div>
    </mat-card-header>
    <img class="gmail" mat-card-image src="/assets/images/gmail3.png" alt="" />
    <mat-card-content>
      <p>
        Gmail is a free email service developed by Google.
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
  </mat-card>

  <mat-card [routerLink]="['/translate']">
    <mat-card-header>
      <div mat-card-avatar class="example-header-imaget"></div>
      <div class="gsearchtitle">
        <mat-card-title class="lead"><b> GOOGLE TRANSLATE </b> </mat-card-title>
        <mat-card-subtitle>Online translator</mat-card-subtitle>
      </div>
    </mat-card-header>
    <img
      class="gtranslate"
      mat-card-image
      src="/assets/images/google translate 3.png"
      alt=""
    />
    <mat-card-content>
      <p>
        Google Translate is a free multilingual machine translation service to
        translate text.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card [routerLink]="['/wikipedia']" routerLinkActive="router-link-active">
    <mat-card-header>
      <div mat-card-avatar class="example-header-imagew"></div>
      <div class="gsearchtitle">
        <mat-card-title class="lead"> <b>WIKIPEDIA </b> </mat-card-title>
        <mat-card-subtitle>Online Encyclopedia</mat-card-subtitle>
      </div>
    </mat-card-header>
    <img
      class="wikipedia"
      mat-card-image
      src="/assets/images/wikipedia3.png"
      alt=""
    />
    <mat-card-content>
      <p>
        Wikipedia is a multilingual online encyclopedia.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="amazon1">
    <mat-card-header>
      <div mat-card-avatar class="example-header-imagea"></div>
      <div class="gsearchtitle">
        <mat-card-title class="lead"><b> Youtube & Music </b></mat-card-title>
        <mat-card-subtitle>Video streaming platform</mat-card-subtitle>
      </div>
    </mat-card-header>
    <img class="amazon" mat-card-image src="/assets/images/yt.webp" alt="" />
    <mat-card-content>
      <p>
        One stop destination for online videos and music.
      </p>
    </mat-card-content>
  </mat-card>
</div>
