<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
</head>

<hr />
<div class="cards" id="cardCard">
  <mat-card
    [routerLink]="['/google-speech']"
    routerLinkActive="router-link-active"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-images"></div>
      <div class="gsearchtitle">
        <mat-card-title class="lead"><b>GOOGLE SEARCH</b></mat-card-title>
        <mat-card-subtitle>Search Service</mat-card-subtitle>
      </div>
    </mat-card-header>
    <img
      class="gsearch"
      mat-card-image
      src="/assets/images/google search 4.png"
      alt="Image is of Google Search"
    />
    <mat-card-content>
      <p>
        Google Search, is a web search engine developed by Google.
      </p>
    </mat-card-content>
  </mat-card>

  <a href="/news" style="margin: 0px auto;">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-imageb"></div>
        <div class="gsearchtitle">
          <mat-card-title class="lead"> <b>NEWS</b></mat-card-title>
          <mat-card-subtitle>News Service</mat-card-subtitle>
        </div>
      </mat-card-header>
      <img
        class="news"
        mat-card-image
        src="/assets/images/news.png"
        alt="Image is of news and weather"
      />
      <mat-card-content>
        <p>
          Common topics for news reports are included in this forum.
        </p>
      </mat-card-content>
    </mat-card>
  </a>
  <a href="https://websight-gmail.herokuapp.com/" style="margin: 0px auto;">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-imagem"></div>
        <div class="gmailtitle">
          <mat-card-title class="lead"> <b>GMAIL </b></mat-card-title>
          <mat-card-subtitle>Mail Service</mat-card-subtitle>
        </div>
      </mat-card-header>
      <img
        class="gmail"
        mat-card-image
        src="/assets/images/gmail3.png"
        alt="Image is of gmail"
      />
      <mat-card-content>
        <p>
          Gmail is a free email service developed by Google.
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
    </mat-card>
  </a>
  <a href="/translate" style="margin: 0px auto;">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-imaget"></div>
        <div class="gsearchtitle">
          <mat-card-title class="lead"
            ><b> GOOGLE TRANSLATE </b>
          </mat-card-title>
          <mat-card-subtitle>Online translator</mat-card-subtitle>
        </div>
      </mat-card-header>
      <img
        class="gtranslate"
        mat-card-image
        src="/assets/images/google translate 3.png"
        alt="image is of google translate"
      />
      <mat-card-content>
        <p>
          Google Translate is a free multilingual machine translation service.
        </p>
      </mat-card-content>
    </mat-card>
  </a>
  <mat-card [routerLink]="['/wikipedia']" routerLinkActive="router-link-active">
    <mat-card-header>
      <div mat-card-avatar class="example-header-imagew"></div>
      <div class="gsearchtitle">
        <mat-card-title class="lead"> <b>WIKIPEDIA </b> </mat-card-title>
        <mat-card-subtitle>Online Encyclopedia</mat-card-subtitle>
      </div>
    </mat-card-header>
    <img
      class="wikipedia"
      mat-card-image
      src="/assets/images/wikipedia3.png"
      alt="image is of wikipedia"
    />
    <mat-card-content>
      <p>
        Wikipedia is a multilingual online encyclopedia.
      </p>
    </mat-card-content>
  </mat-card>
  <a href="/youtube" style="margin: 0px auto;">
    <mat-card class="amazon1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-imagea"></div>
        <div class="gsearchtitle">
          <mat-card-title class="lead"><b> YOUTUBE & MUSIC </b></mat-card-title>
          <mat-card-subtitle>Video streaming platform</mat-card-subtitle>
        </div>
      </mat-card-header>
      <img
        class="amazon"
        mat-card-image
        src="/assets/images/yt.webp"
        alt="image is of youtube"
      />
      <mat-card-content>
        <p>
          One stop destination for online videos and music.
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</div>
<div class="copyright">
  <p>Copyright &copy; Websight 2020</p>
</div>
