<hr />
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-imagem"></div>
    <div class="gmailtitle">
      <mat-card-title>GMAIL</mat-card-title>
      <mat-card-subtitle>Mail Service</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img
    class="gmail"
    mat-card-image
    src="/assets/images/gmail2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Gmail is a free email service developed by Google.
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>
<mat-card [routerLink]="['/google-speech']">
  <mat-card-header>
    <div mat-card-avatar class="example-header-images"></div>
    <div class="gsearchtitle">
      <mat-card-title>GOOGLE SEARCH</mat-card-title>
      <mat-card-subtitle>Search Service</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img
    class="gsearch"
    mat-card-image
    src="/assets/images/google search.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Google Search, is a web search engine developed by Google.
    </p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-imageb"></div>
    <div class="gsearchtitle">
      <mat-card-title>BBC NEWS</mat-card-title>
      <mat-card-subtitle>News Service</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img
    class="gsearch"
    mat-card-image
    src="/assets/images/bbc news.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      BBC News is an operational business division of the British Broadcasting
      Corporation (BBC) responsible for the gathering and broadcasting of news
      and current affairs.
    </p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-imagew"></div>
    <div class="gsearchtitle">
      <mat-card-title>WIKIPEDIA</mat-card-title>
      <mat-card-subtitle>Online Encyclopedia</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img
    class="wikipedia"
    mat-card-image
    src="/assets/images/wikipedia2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Wikipedia is a multilingual online encyclopedia created and maintained as
      an open collaboration project by a community of volunteer editors using a
      wiki-based editing system.
    </p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-imaget"></div>
    <div class="gsearchtitle">
      <mat-card-title>GOOGLE TRANSLATE</mat-card-title>
      <mat-card-subtitle>Online translator</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img
    class="gtranslate"
    mat-card-image
    src="/assets/images/googletranslate.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Google Translate is a free multilingual machine translation service
      developed by Google, to translate text.
    </p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-imagea"></div>
    <div class="gsearchtitle">
      <mat-card-title>AMAZON SHOPPING</mat-card-title>
      <mat-card-subtitle>Online Shopping</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img
    class="gtranslate"
    mat-card-image
    src="/assets/images/amazon.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Amazon.com, is an American multinational technology company based in
      Seattle that focuses on e-commerce, cloud computing, digital streaming,
      and artificial intelligence.
    </p>
  </mat-card-content>
</mat-card>
