<div style="text-align: center;">
  <mat-toolbar>Google voice search</mat-toolbar>
  <br /><br /><br />
  <span
    style="font-size: small; color: rgb(109, 109, 109); padding-bottom: 5px;"
  >
    Search here: &nbsp;&nbsp;
  </span>
  <mat-form-field style="width: 400px !important ;" class="example-full-width">
    <input [(ngModel)]="speechInput1" id="searchKey" matInput />
    <button
      mat-button
      *ngIf="speechInput1"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="speechInput1 = ''"
    >
      <mat-icon id="micicon">close</mat-icon>
    </button>
  </mat-form-field>

  <br />
  <button id="voiceButton" (click)="voiceInput()" mat-fab>
    <mat-icon>mic</mat-icon>
  </button>
  <pre></pre>
  <button (click)="gSearch1()" mat-fab>
    <mat-icon>search</mat-icon>
  </button>
</div>
