<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<br /><br />
<mat-progress-bar mode="indeterminate" *ngIf="flag == 0"></mat-progress-bar>

<div
  *ngIf="flag == 1"
  style="display: flex; flex-wrap: wrap; align-content: center;"
>
  <div
    *ngFor="let headL of headLines.texts; let i = index"
    style="float: left; margin: 0 auto;"
  >
    <div *ngIf="i < 24" class="col s12 m7" style="float:left;">
      <div class="card " style="width: 24em;">
        <div class="card-image">
          <div
            class="imgnews"
            [style.background-image]="imageUrl(headLines.imageCard[i])"
            style="height: 18em; overflow:hidden; background-position: 50%; "
          >
            <div
              class="BlackTint"
              style="z-index: 1; height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background: rgba(0, 0, 0, 0.88);  "
            >
              <div
                class="card-title display-3"
                style="color: white; font-size: 1.7em;"
              >
                {{ i + 1 }} <br />
                <br />{{ headL }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-content">
          <p>
            {{ headLines.content[i] }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
