<div style="text-align: center;">
  <mat-toolbar style="display: flex;" style="background: rgb(59, 59, 59);">
    <button (click)="goBack()" mat-icon-button>
      <mat-icon style="color: white;">arrow_back</mat-icon></button
    >&nbsp; &nbsp;
    <!-- <img
      src="/assets/images/google.png"
      alt=""
      style="width: 2em; height: auto"
    /> -->
    <span class="lead" style="font-size: 1.2em; color: white;">Wikipedia</span>
  </mat-toolbar>
  <br /><br /><br />
  <span
    style="font-size: small; color: rgb(109, 109, 109); padding-bottom: 5px;"
  >
    Search here: &nbsp;&nbsp;
  </span>
  <mat-form-field style="width: 20em !important ;">
    <input matInput [(ngModel)]="query" id="searchKey" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon id="micicon">close</mat-icon>
    </button>
  </mat-form-field>

  <br />
  <button id="voiceButton" mat-fab>
    <mat-icon>mic</mat-icon>
  </button>
  <pre></pre>
  <button (click)="send_query()" mat-fab>
    <mat-icon>search</mat-icon>
  </button>
</div>

<div *ngIf="flag == 0" id="load">
  <br /><br />
  <mat-spinner style="margin: 0 auto;"></mat-spinner>
</div>
<br /><br />
<div id="wiki">
  <mat-card *ngIf="flag2 == 1" id="wikiresult">
    <p *ngFor="let item of searchResult.content">{{ item }} <br /><br /></p>
  </mat-card>
</div>
