mat-card {
  cursor: default;
  transition: 0.3s;
}
.matCardClass:hover {
  transform: scale(1.045);
}
.matCardClass {
  transition: 0.3s;
}
body {
  background: #e0e0e0;
}
#loadingSpinner {
  min-width: 5em;
  width: 5em;
  height: 5em;
  margin: 1.7em;
}
