<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<mat-progress-bar
  mode="indeterminate"
  *ngIf="flag == 0"
  color="accent"
></mat-progress-bar>
<mat-toolbar class="deep-purple darken-4" style="display: flex; color: white;">
  <button (click)="goBack()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  &nbsp; &nbsp;
  <img
    width="42em"
    height="auto"
    src="assets/images/newsicon.png"
    alt=""
  />&nbsp;&nbsp;&nbsp;
  <div
    class="lead"
    style="font-size: 1.4em; text-overflow: ellipsis; max-width: 2px;"
  >
    "{{ query1 }}"
  </div>
  <nav
    (click)="searchClick()"
    class="navbarSearch"
    style="width: 20%; position: absolute; right: 0; box-shadow: none;"
  >
    <div class="nav-wrapper">
      <form>
        <div class="input-field indigo">
          <input
            (keyup.enter)="passNewsQuery()"
            class="lead"
            [(ngModel)]="newsQuery"
            style="font-size: 1.5em; color: white;"
            id="search"
            type="search"
            name="abcd"
            required
          />
          <label class="label-icon" for="search"
            ><i class="material-icons" style="opacity: 1;">search</i></label
          >
        </div>
      </form>
    </div>
  </nav>
</mat-toolbar>
<mat-progress-bar
  mode="indeterminate"
  *ngIf="flag == 0"
  color="accent"
></mat-progress-bar>
<br /><br />
<div *ngIf="flag == 1">
  <div
    *ngFor="let item of contentTitlesUnique; let i = index"
    style="align-content: center; margin-left: 2em; margin-right: 2em;"
  >
    <div
      class="matCardClass"
      style="min-height: 12em; max-width: 55em; margin: 0 auto;"
    >
      <mat-card (click)="newsOpen(i)" style="min-height: 11em;">
        <div style="float: right;">
          <img
            style="
              border-radius: 0.7em;
              width: 9em;
              height: 9em;
              margin-left: 1em;
            "
            src="{{ contentImgUrlsUnique[i] }}"
            alt=" "
            srcset=""
          />
        </div>
        <div class="lead flow-text">
          {{ i + 1 }}
          <br />
          {{ contentTitlesUnique[i] }}
        </div>
      </mat-card>
    </div>
    <br /><br />
  </div>
</div>
<div
  *ngIf="flag == 0"
  class="d-flex justify-content-center"
  style="display: flex; flex-wrap: wrap;"
>
  <div style="display: block;">
    <div class="spinner-grow text-primary" id="loadingSpinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" id="loadingSpinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" id="loadingSpinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div style="display: block;">
    <div class="spinner-grow text-danger" id="loadingSpinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" id="loadingSpinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" id="loadingSpinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
