<mat-toolbar style="display: flex;" color="primary">
  <button (click)="goBack()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon></button
  >&nbsp; &nbsp;<mat-icon>g_translate</mat-icon> &nbsp;
  <span class="lead" style="font-size: 1.2em;"> Google Translate </span>
</mat-toolbar>
<br />
<div style="text-align: center;">
  <mat-form-field style="width: 20em !important;   font-size: large;">
    <textarea
      cdkTextareaAutosize
      id="text1"
      [(ngModel)]="query"
      matInput
      placeholder="{{ selectedInputLang[0] }} language here"
      name="sample"
    >
    </textarea>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button (click)="voiceInputSpeech()" mat-fab color="primary">
    <mat-icon>mic</mat-icon>
  </button>
  <br />
  <br />

  <mat-form-field>
    <mat-label>Input Language</mat-label>
    <mat-select [(value)]="selectedInputLang[0]">
      <mat-option *ngFor="let item of LangNames" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;

  <button (click)="voiceInputLang()" mat-button color="primary">
    <mat-icon>mic</mat-icon>
  </button>

  <!-- <p id="langInput">Input Language: {{ selectedInputLang }}</p> -->

  <br />
  <br /><br />

  <button (click)="sendQuery()" mat-flat-button color="primary">
    <mat-icon>translate</mat-icon><mat-icon>swap_vert</mat-icon> Translate
  </button>
  <br />
  <br />

  <br /><br />
  <mat-form-field>
    <mat-label>Output Language</mat-label>
    <mat-select id="outputSelect" [(value)]="selectedOutputLang[0]">
      <mat-option
        *ngFor="
          let item of LangNames | slice: 1:LangNames.length;
          let i = index
        "
        [value]="item"
      >
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;

  <button (click)="voiceOutputLang()" mat-button color="primary">
    <mat-icon>mic</mat-icon>
  </button>
  <br /><br />
  <mat-form-field style="width: 20em !important; font-size: large;">
    <textarea
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="10"
      matInput
      id="output"
      disabled
      style="color: black;"
      placeholder="  {{ selectedOutputLang[0] }} language here"
      name="sample"
    >
    </textarea>
  </mat-form-field>

  <!-- <button (click)="changeSel()"></button> -->
</div>
